.edit-generation {
  hr {
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 5px;
    align-items: center;
    justify-content: center;

    .data {
      width: 4ch;
      text-align: right;
    }
    &.save {
      justify-content: center;
      margin-top: 25px;
      button {
        padding: 10px;
        color: darkblue;
      }
    }

    button.modif {
      width: 35px;
      padding: 5px;
      &.positive {
        color: darkgreen;
      }
      &.negative {
        color: darkred;
      }
    }
  }
}
